@import 'bangle-plugins/tooltip/style.css';

.bangle-tooltip-content {
  color: white;
}

.bangle-link-menu {
  background-color: #333;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 4px 2px;
  align-items: center;
}

.bangle-link-menu input {
  background-color: transparent;
  margin-left: 4px;
  padding-left: 4px;
}

.bangle-link-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/** The open link icon**/
.bangle-link-menu a svg {
  transform: scale(1.1, 1.1);
}

.bangle-menu {
  background-color: #333;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 4px 2px;
  align-items: center;
}

.bangle-menu-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2px;
}

.bangle-menu-group.right-border {
  border-right: 1px solid #666;
}

button.inline-menu-icon > svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
}

button.inline-menu-icon {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  padding: 2px;
  line-height: inherit;
  color: inherit;
  text-transform: none;
  border-width: 0;
  margin-left: 1px;
  margin-right: 1px;
}

button.inline-menu-icon:hover {
  background-color: grey;
  border-radius: 2px;
}

button.inline-menu-icon.active {
  color: aquamarine;
}

button.inline-menu-icon:disabled {
  cursor: not-allowed;
  color: grey;
}

button.inline-menu-icon:disabled:hover {
  background-color: transparent;
}

/** 
 * 
 * emoji-suggest-menu
 *
 */

.bangle-emoji-suggest-menu {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0.25rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  color: #333;
  background-color: white;
}

.bangle-tooltip[data-popper-placement='top-start'] .bangle-emoji-suggest-menu {
  flex-direction: column-reverse;
}

.bangle-emoji-suggest-menu > .bangle-row {
  padding-left: 3px;
  padding-right: 16px;
  height: 100%;
  cursor: pointer;
}

.bangle-emoji-suggest-menu > .bangle-row.bangle-is-selected {
  background-color: teal;
}

.bangle-emoji-suggest-menu > .bangle-row:hover {
  background-color: teal;
}

.bangle-emoji-suggest-menu > .bangle-row > span {
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
