.ProseMirror {
  word-wrap: break-word !important;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror img {
  border: 1px solid grey;
  padding: 2px;
}
.ProseMirror-selectednode {
  outline: 4px solid #8cf;
}
