@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bangle-editor h1 {
  @apply text-5xl my-2 mt-5;
}

.bangle-editor h1:first-of-type {
  @apply text-6xl my-3 mt-6;
}

.bangle-editor h2 {
  @apply text-3xl mb-1 mt-4;
}
.bangle-editor h3 {
  @apply text-xl font-medium mb-1 mt-4;
}

.bangle-editor img {
  margin: 0 0.25rem;
  border: 1px solid grey;
  padding: 2px;
}

.bangle-editor a {
  @apply text-blue-500 underline;
}

.bangle-editor a:hover {
  @apply text-blue-700;
}

.bangle-editor blockquote {
  @apply pl-2 bg-gray-100 text-gray-800 my-5 py-2;
}

.bangle-editor blockquote > p {
  @apply text-base;
}

.bangle-editor pre {
  @apply border-gray-600 pl-2 bg-gray-200 my-5 py-4;
}

.bangle-editor pre > code {
  @apply font-mono text-gray-700 font-light text-sm;
}

.bangle-editor hr {
  border-top: 1px solid var(--font-color);
}
