@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bangle-editor p {
  @apply text-base whitespace-pre-wrap break-words leading-relaxed text-lg;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.bangle-editor h1 {
  @apply text-4xl my-2 mt-5;
}
.bangle-editor h2 {
  @apply text-3xl mb-1 mt-4;
}
.bangle-editor h3 {
  @apply text-xl font-medium mb-1 mt-4;
}

.bangle-editor ul {
  @apply list-disc list-outside  pl-6;
}

.bangle-editor ol {
  @apply list-decimal list-outside pl-6;
}

.bangle-editor > ul {
  @apply list-disc list-outside  pl-6 mt-2 mb-2;
}

.bangle-editor > ol {
  @apply list-decimal list-outside pl-6 mt-2 mb-2;
}

.bangle-editor ul[data-type='todo_list'] {
  @apply list-disc list-outside pl-1;
}

.bangle-editor a {
  @apply text-blue-500 underline;
}

.bangle-editor a:hover {
  @apply text-blue-700;
}

.bangle-editor blockquote {
  @apply pl-2 bg-gray-100 text-gray-800 my-5 py-2;
}

.bangle-editor blockquote > p {
  @apply text-base;
}

.bangle-editor pre {
  @apply border-gray-600 pl-2 bg-gray-200 my-5 py-4;
}

.bangle-editor pre > code {
  @apply font-mono text-gray-700 font-light text-sm;
}

.bangle-editor p > code {
  @apply font-mono text-gray-700 font-light bg-gray-200 px-2 py-1 rounded;
}

.bangle-editor hr {
  border-top: 1px solid var(--font-color);
}
