archive
.cache
_bangle-play/dist
_bangle-play/build
node_modules
.yarn
.pnp.js
coverage
__integration-tests__/build

_bangle-website/build
_bangle-website/.docusaurus
_bangle-website/.cache-loader

build