node_modules
.DS_Store
.cache
.DS_Store
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-debug.log*
yarn-error.log*

bangle-play/dist
bangle-play/build
__integration-tests__/build

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log

_bangle-website/build
_bangle-website/.docusaurus
_bangle-website/.cache-loader