/** 
 * Prosemirror
 */
.ProseMirror {
  word-wrap: break-word !important;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror-selectednode {
  outline: 4px solid #8cf;
  border-radius: 2px;
}
/** Prosemirror-END */

/** 
 * Bangle
 */
.bangle-nv-content {
  /** So that the element takes full width, else the browser does not 
    show selection cursor.*/
  width: 100%;
}

.bangle-editor p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
hr,
figure,
dl,
dd {
  margin: 0;
}
/** Bangle-end*/

/** 
 * Component-Styling
 */

.bangle-editor a {
  color: #4299e1;
  text-decoration: underline;
}

.bangle-editor a:hover {
  color: #24659b;
  text-decoration: underline;
}

.bangle-editor blockquote {
  padding-left: 0.5rem;
  background-color: #f7fafc;
  color: #414e64;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.bangle-editor hr {
  margin: 0.5em 0;
  padding: 2px 2px;
}

.bangle-editor h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
}

.bangle-editor h2 {
  font-size: 1.875rem;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

.bangle-editor h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

.bangle-editor h4 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

.bangle-editor h5 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.bangle-editor h6 {
  font-weight: 500;
  font-size: 0.75rem;
  margin-bottom: 0.1rem;
  margin-top: 0.5rem;
}

.bangle-editor img {
  margin: 0 0.25rem;
  border: 1px solid grey;
  padding: 2px;
}

.bangle-editor li {
  position: relative;
}

.bangle-editor li > span {
  display: block;
}

.bangle-editor li.ProseMirror-selectednode {
  outline: none;
}

.bangle-editor li.ProseMirror-selectednode:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

.bangle-editor li[data-bangle-is-todo] {
  display: flex;
  flex-direction: row;
  position: relative;
  left: -1.2rem;
}

.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.5rem;
  margin-right: 6px;
  outline: none;
}

/** Ordered list */
.bangle-editor > ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bangle-editor ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.bangle-editor p {
  font-size: 1rem;
  line-height: 1.625;
  font-size: 1.125rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.bangle-editor p > code {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  padding: 0.2em 0.4em;
  margin: 0 0.1em;
  font-size: 85%;
  background-color: rgba(29, 30, 35, 0.06);
  border-radius: 6px;
}

.bangle-editor pre {
  white-space: pre-wrap;
  border-color: #718096;
  padding-left: 0.5rem;
  background-color: #edf2f7;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/** Bullet List */
.bangle-editor ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.bangle-editor > ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/** TODO List*/
.bangle-editor ul[data-bangle-name='todoList'] {
  padding-left: 0.125rem;
}

/** Component-Styling-END */

/** 
 * Prosemirror-Gap-Cursor 
 */
/** From https://github.com/ProseMirror/prosemirror-gapcursor/blob/master/style/gapcursor.css */
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 2px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}
/** Prosemirror-Gap-Cursor-END */
