/* menu-item */

.menu-item-icon {
  display: inline-block;
  line-height: 0.8;
  vertical-align: -2px; /* Compensate for padding */
  padding: 2px 8px;
  cursor: pointer;
}

.menu-item-icon.disabled {
  cursor: not-allowed;
}

/* menu-item strong */
.menu-item-icon .icon-strong {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}

.menu-item-icon .icon-strong:before {
  top: 50%;
  left: 50%;
  content: 'B';
  font-size: 1em;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-family: serif;
}

/** menu-item em */
.menu-item-icon .icon-em {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}

.menu-item-icon .icon-em:before {
  top: 50%;
  left: 50%;
  content: 'I';
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  transform: translate(-50%, -50%);
  font-family: serif;
}
/** menu-item em */
.menu-item-icon .icon-code {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}

.menu-item-icon .icon-code:before {
  top: 50%;
  left: 50%;
  content: '<>';
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  font-family: monospace;
}

/** menu-item undo */
.menu-item-icon .icon-undo {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
.menu-item-icon .icon-undo:before {
  top: 50%;
  left: 50%;
  content: 'Undo';
  font-size: 1em;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-family: serif;
}

/** menu-item redo */
.menu-item-icon .icon-redo {
  width: 1em;
  height: 1em;
  background-color: transparent;
  margin: 0;
}
.menu-item-icon .icon-redo:before {
  top: 50%;
  left: 50%;
  content: 'Redo';
  font-size: 1em;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-family: serif;
}
