@import 'style';

.bangle-editor {
  ul {
    list-style-type: unset;
  }
  blockquote p {
    color: $grey-dark;
    font-style: italic;
    margin: 5px 0;
  }

  pre {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    background: $grey-dark;
    color: $white;
    font-size: 0.8rem;
    overflow-x: auto;
    margin: 5px 0;
    code {
      display: block;
    }
  }

  ul[data-type='todo_list'] {
    padding-left: 10px;
  }

  li[data-type='todo_item'] {
    display: flex;
    flex-direction: row;
  }

  .todo-checkbox {
    border: 2px solid $grey-dark;
    height: 0.9em;
    width: 0.9em;
    box-sizing: border-box;
    margin-right: 6px;
    margin-top: 0.3rem;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    border-radius: 0.2em;
    background-color: transparent;
    transition: 0.4s background;
  }

  .todo-content {
    flex: 1;
    > p:last-of-type {
      margin-bottom: 0;
    }
    > ul[data-type='todo_list'] {
      margin: 0.5rem 0;
    }
  }

  li[data-done='true'] {
    > .todo-content {
      > p {
        text-decoration: line-through;
      }
    }
    > .todo-checkbox {
      background-color: $grey-lightest;
    }
  }

  li[data-done='false'] {
    text-decoration: none;
  }

  span.todo_checkbox {
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    position: relative;
    align-self: start;
    margin: 4px 5px 0px -2px;

    & > input[type='checkbox'] {
      position: absolute;
      outline: none;
      margin: 0;
      opacity: 0;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      + label {
        box-sizing: border-box;
        display: block;
        position: relative;
        width: 100%;
        cursor: pointer;

        &::after {
          background: $grey-lightest;
          background-size: 16px;
          border-radius: 3px;
          border-style: solid;
          border-width: 1px;
          border-color: $grey-light;
          box-sizing: border-box;
          content: '';
          height: 16px;
          left: 50%;
          position: absolute;
          transition: border-color 0.2s ease-in-out;
          top: 8px;
          width: 16px;
          transform: translate(-50%, -50%);
        }
      }
      &:not([disabled]) + label:hover::after {
        background: $grey-light;
        transition: border 0.2s ease-in-out;
      }
      &[disabled] + label {
        opacity: 0.5;
        cursor: default;
      }
      &:checked {
        + label::after {
          background: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICA8cmVjdCB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHJ4PSIyIiBmaWxsPSIjMDA1MkNDIj48L3JlY3Q+DQogIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik05LjM3NCA0LjkxNEw1LjQ1NiA4LjgzMmEuNzY5Ljc2OSAwIDAgMS0xLjA4OCAwTDIuNjI2IDcuMDkxYS43NjkuNzY5IDAgMSAxIDEuMDg4LTEuMDg5TDQuOTEyIDcuMmwzLjM3NC0zLjM3NGEuNzY5Ljc2OSAwIDEgMSAxLjA4OCAxLjA4OCI+PC9wYXRoPg0KPC9zdmc+)
            no-repeat 0 0;
          background-size: 16px;
          border: 0;
          border-color: transparent;
          border-radius: 0; /* FS-1392 */
        }
        &:not([disabled]) + label:hover::after {
          background: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICA8cmVjdCB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHJ4PSIyIiBmaWxsPSIjMDc0N0E2Ij48L3JlY3Q+DQogIDxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik05LjM3NCA0LjkxNEw1LjQ1NiA4LjgzMmEuNzY5Ljc2OSAwIDAgMS0xLjA4OCAwTDIuNjI2IDcuMDkxYS43NjkuNzY5IDAgMSAxIDEuMDg4LTEuMDg5TDQuOTEyIDcuMmwzLjM3NC0zLjM3NGEuNzY5Ljc2OSAwIDEgMSAxLjA4OCAxLjA4OCI+PC9wYXRoPg0KPC9zdmc+)
            no-repeat 0 0;
          background-size: 16px;
        }
      }
    }
  }
}
