@charset "utf-8";

// // Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// // Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@import 'bulma/sass/utilities/initial-variables.sass';

// Update Bulma's global variables
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$background: $white;
$text: $black;
$light: $grey-lightest;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// // Component overides
@import 'bulma/sass/utilities/_all.sass';
$dropdown-item-hover-background-color: $primary-light;
$dropdown-menu-min-width: 24rem;

// // Import only what you need from Bulma
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/button.sass';
// @import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/_all.sass';
// @import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/components/_all.sass';

.bangle-editor {
  ul {
    list-style-type: unset;
  }
  blockquote p {
    color: $grey-dark;
    font-style: italic;
    margin: 5px 0;
  }

  pre {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    background: $grey-dark;
    color: $white;
    font-size: 0.8rem;
    overflow-x: auto;
    margin: 5px 0;
    code {
      display: block;
    }
  }
}
