@charset "utf-8";

// // Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// // Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

@import 'bulma/sass/utilities/initial-variables.sass';

// Update Bulma's global variables
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$background: $white;
$text: $black;
$light: $grey-lightest;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// // Component overides
@import 'bulma/sass/utilities/_all.sass';
$dropdown-item-hover-background-color: $primary-light;
$dropdown-menu-min-width: 24rem;

// // Import only what you need from Bulma
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/button.sass';
// @import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/_all.sass';
// @import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/components/_all.sass';

.app {
  display: flex;
  flex-grow: 1;
}

.main-wrapper {
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: auto 300px;
}

header {
  grid-row: 1;
  background-color: burlywood;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 400px;
}

.editor-wrapper {
  grid-row: 2;
  grid-column: 1 / 3;
  height: calc(100vh - 70px);
  overflow: auto;
}

aside {
  z-index: 99;
  grid-column: 2 / 2;
  grid-row: 1;
  height: 100vh;
  background-color: cyan;
  display: flex;
  flex-direction: column;

  .history-entry {
    background-color: hotpink;
    margin: 4px 2px;
    padding: 2px;
    color: white;
    font-weight: 500;
  }
}

.ui-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
