@import '../tooltip/style.css';

span[data-bangle-name='emoji'] {
  display: inline-block;
}

/** inline suggest*/

.bangle-inline-suggest-emoji {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  color: #333;
  background-color: white;
}

.bangle-tooltip[data-popper-placement='top-start']
  .bangle-inline-suggest-emoji {
  flex-direction: column-reverse;
}

.bangle-inline-suggest-emoji.reverse {
  flex-direction: column-reverse;
}

.bangle-inline-suggest-emoji > div {
  padding-left: 3px;
  padding-right: 16px;
  height: 100%;
  cursor: pointer;
}

.bangle-inline-suggest-emoji > div[data-is-selected='true'] {
  background-color: teal;
}

.bangle-inline-suggest-emoji > div:hover {
  background-color: teal;
}

.bangle-inline-suggest-emoji > div > span:first-child {
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
