/** Prosemirror */
.ProseMirror {
  word-wrap: break-word !important;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

/** So that the element takes full width, else the browser does not 
  show selection cursor.*/
.bangle-content-mount {
  width: 100%;
}

/** Component Styling */

.ProseMirror-selectednode {
  outline: 4px solid #8cf;
  border-radius: 2px;
}

.bangle-editor p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
hr {
  margin: 0;
}

.bangle-editor hr {
  margin: 0.5em 0;
  padding: 2px 2px;
}

.bangle-editor pre {
  white-space: pre-wrap;
}

.bangle-editor p {
  font-size: 1rem;
  line-height: 1.625;
  font-size: 1.125rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.bangle-editor p > code {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  padding: 0.2em 0.4em;
  margin: 0 0.1em;
  font-size: 85%;
  background-color: rgba(29, 30, 35, 0.06);
  border-radius: 6px;
}

.bangle-editor li {
  position: relative;
}

.bangle-editor li.ProseMirror-selectednode {
  outline: none;
}

.bangle-editor li.ProseMirror-selectednode:after {
  content: '';
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/** Ordered list */
.bangle-editor > ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bangle-editor ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

/** Bullet List */
.bangle-editor ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.bangle-editor > ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/** TODO List*/
.bangle-editor ul[data-bangle-name='todoList'] {
  padding-left: 0.125rem;
}

.bangle-editor li[data-bangle-name='todoItem'] {
  display: flex;
  flex-direction: row;
}

.bangle-editor li[data-bangle-name='todoItem'] > span:first-child > input {
  margin-top: 0.5rem;
  margin-right: 6px;
  outline: none;
}

/** Component Styling:End */

/** Gap Cursor */
/** From https://github.com/ProseMirror/prosemirror-gapcursor/blob/master/style/gapcursor.css */
.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 2px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

.ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProseMirror-hideselection {
  caret-color: transparent;
}

/** Gap Cursor:End */
