body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  flex-grow: 1;
}

.ProsemirrorComp {
  /* display: flex; */
  /* height: 100vh; */
  /* flex-grow: 1; */
  /* flex: 1 auto; */
  /* flex-direction: row; */
}

/* /app.js */
.App {
  margin: 15px 30px;
  /* display: flex; */
  /* flex: 1 auto; */
  /* background-color: #eeeeee05; */
  border: 1px solid #eee;
  /* flex-direction: column; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ProseMirror-menubar-wrapper {
  display: flex;
  flex-direction: column;
  /* [1] */
  /* [1] */
  /* [1] */
  flex-grow: 1;
  /* [4] */
}

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

.bangle-editor {
  word-break: break-word;
  outline: none;
}

.bangle-editor img {
  cursor: default;
}

.bangle-editor hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}

.bangle-editor hr:after {
  content: '';
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}
