.ProseMirror {
  word-wrap: break-word !important;
  white-space: pre-wrap;
  white-space: break-spaces !important;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}
