@media screen and (max-width: 640px) {
  .main-wrapper {
    display: grid;
    grid-template-rows: 70px auto 70px;
  }
  header {
    grid-row: 3;
    grid-column: 1;
  }
  .editor-wrapper {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .aside-menu {
    grid-row: 1 / 2;
  }
  .aside-content {
    grid-row: 2/4;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 641px) {
  .main-wrapper {
    display: grid;
    grid-template-rows: auto 70px;
    grid-template-columns: 60px 300px auto;
  }
  header {
    grid-row: 2;
    grid-column: 2/4;
  }
  .editor-wrapper {
    grid-row: 1/3;
    grid-column: 2 / 4;
  }
  .aside-menu {
    grid-row: 1 / 3;
    grid-column: 1 / 1;
  }
  .aside-content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

div:focus {
  outline: none;
}

button:focus {
  outline: none;
}

ul[data-type='todo_list'] div[data-done='true'] > div > p:first-of-type {
  color: grey;
  text-decoration: line-through;
}
