@charset "utf-8";

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

.main-wrapper {
  display: grid;
  grid-template-rows: 70px auto;
  grid-template-columns: auto 300px 60px;
}

header {
  grid-row: 1;
  grid-column: 1 / 3;
}

.editor-wrapper {
  grid-row: 2;
  grid-column: 1 / 3;
  height: calc(100vh - 70px);
}

.aside-menu {
  grid-row: 1;
  grid-column: 3 / 4;
}

.aside-content {
  grid-column: 2 / 3;
  grid-row: 1;
}

div:focus {
  outline: none;
}

button:focus {
  outline: none;
}
