@import 'bangle-plugins/selection-tooltip/selection-tooltip.css';

.bangle-link-menu {
  display: flex;
  flex-direction: row;
  padding: 4px 2px;
  align-items: center;
}

.bangle-link-menu input {
  background-color: transparent;
  margin-left: 4px;
}

.bangle-link-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/** The open link icon**/
.bangle-link-menu a svg {
  transform: scale(1.1, 1.1);
}

.bangle-selection-tooltip {
  background-color: #333;
  border-radius: 4px;
}

.bangle-floating-menu {
  display: flex;
  flex-direction: row;
  padding: 4px 2px;
  align-items: center;
}

.bangle-floating-menu-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2px;
}

.bangle-floating-menu-group.right-border {
  border-right: 1px solid #666;
}

button.inline-menu-icon > svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
}

button.inline-menu-icon {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  padding: 2px;
  line-height: inherit;
  color: inherit;
  text-transform: none;
  border-width: 0;
  margin-left: 1px;
  margin-right: 1px;
}

button.inline-menu-icon:hover {
  background-color: grey;
  border-radius: 2px;
}

button.inline-menu-icon.active {
  color: aquamarine;
}

button.inline-menu-icon:disabled {
  cursor: not-allowed;
  color: grey;
}

button.inline-menu-icon:disabled:hover {
  background-color: transparent;
}
