# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        test-kind: [unit-tests, integration-tests, build]

    steps:
      - uses: actions/checkout@v2
      - name: Run test "${{ matrix.test-kind }}"
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: npm install -g yarn@latest
      - run: yarn install --immutable --immutable-cache
        if: ${{ matrix.test-kid != 'build'}}
      - run: yarn install --immutable --immutable-cache --check-cache
        if: ${{ matrix.test-kid == 'build'}}
      - run: yarn ${{ matrix.test-kind }}
